<div class="wrapper imageholder">
  <header class="header">
	<h1>Create New Burgers and Eat Your Favorites!</h1>

  </header>
  <section class="content">
    <div class="columns">
      <main class="main">
		<h2>BURGER CREATION</h2>
		<div class="centerform">
		<form class="create-form">
		  <div class="form-group">
		    <input type="text" id="burgeradd" name="name" placeholder="Add a burger name">
		  </div>
		  <button id="add" type="submit">BUILD A BURGER</button>
		</form>
		</div>

      </main>
      <aside class="sidebar-first">
	<h2>BURGER MENU</h2>

	<div class="burgerrow">
  		{{#each burgers}}
    	{{#unless eaten}}
      	{{> burger/burger-block eaten=true}}
    	{{/unless}}
  		{{/each}}
	</div>

      </aside>
      <aside class="sidebar-second">
			<h2>BURGER HISTORY</h2>
			
		<div class="burgerrow">
			  {{#each burgers}}
			    {{#if eaten}}
			      {{> burger/burger-block eaten=false}}
			    {{/if}}
			  {{/each}}
		</div>

      </aside>
    </div>
  </section>
</div>