	<header>
		
	<h1>Burgers</h1>
		
	</header>
	
	<div class="imageholder">

	<h2>EAT A BURGER</h2>

	<ul>
	  {{#each burgers}}
	    {{#unless eaten}}
	      {{> burger/burger-block eaten=true}}
	    {{/unless}}
	  {{/each}}
	</ul>


	<h2>BURGERS EATEN</h2>
	
	<ul>
	  {{#each burgers}}
	    {{#if eaten}}
	      {{> burger/burger-block eaten=false}}
	    {{/if}}
	  {{/each}}
	</ul>



	<h2>Add a Burger</h2>

	<form class="create-form" action="/burgers/create" method="POST">
	  <div class="form-group">
	    <label for="burgeradd">Burger Name:</label>
	    <input type="text" id="burgeradd" name="name">
	  </div>
	  <button type="submit">Add Burger</button>
	</form>


	</div>